# Foundations in Pandas

## Intro

In [10]:
from matplotlib import pyplot as plt
import pandas as pd

df=pd.read_csv('https://raw.githubusercontent.com/matplotlib/sample_data/master/aapl.csv')
print(df.head())

         Date    Open    High     Low   Close    Volume  Adj Close
0  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
1  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
3  2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
4  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(6081, 7)

In [13]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=6081, step=1)

In [17]:
df = df.set_index(df['Date'])
df.index

Index(['2008-10-14', '2008-10-13', '2008-10-10', '2008-10-09', '2008-10-08',
       '2008-10-07', '2008-10-06', '2008-10-03', '2008-10-02', '2008-10-01',
       ...
       '1984-09-20', '1984-09-19', '1984-09-18', '1984-09-17', '1984-09-14',
       '1984-09-13', '1984-09-12', '1984-09-11', '1984-09-10', '1984-09-07'],
      dtype='object', name='Date', length=6081)

### Slicing

In [21]:
df.iloc[:5,:]

                  Date    Open    High     Low   Close    Volume  Adj Close
Date
2008-10-14  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
2008-10-13  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2008-10-10  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
2008-10-09  2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
2008-10-08  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [22]:
df.iloc[-5:,:]

                  Date   Open   High    Low  Close   Volume  Adj Close
Date
1984-09-13  1984-09-13  27.50  27.62  27.50  27.50  7429600       3.14
1984-09-12  1984-09-12  26.87  27.00  26.12  26.12  4773600       2.98
1984-09-11  1984-09-11  26.62  27.37  26.62  26.87  5444000       3.07
1984-09-10  1984-09-10  26.50  26.62  25.87  26.37  2346400       3.01
1984-09-07  1984-09-07  26.50  26.87  26.25  26.50  2981600       3.02

### head

In [23]:
df.head()

                  Date    Open    High     Low   Close    Volume  Adj Close
Date
2008-10-14  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
2008-10-13  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2008-10-10  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
2008-10-09  2008-10-09   93.35   95.80   86.60   88.74  57763700      88.74
2008-10-08  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79

In [24]:
df.head(2)

                  Date    Open    High     Low   Close    Volume  Adj Close
Date
2008-10-14  2008-10-14  116.26  116.40  103.14  104.08  70749800     104.08
2008-10-13  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26

### tail

In [25]:
df.tail()

                  Date   Open   High    Low  Close   Volume  Adj Close
Date
1984-09-13  1984-09-13  27.50  27.62  27.50  27.50  7429600       3.14
1984-09-12  1984-09-12  26.87  27.00  26.12  26.12  4773600       2.98
1984-09-11  1984-09-11  26.62  27.37  26.62  26.87  5444000       3.07
1984-09-10  1984-09-10  26.50  26.62  25.87  26.37  2346400       3.01
1984-09-07  1984-09-07  26.50  26.87  26.25  26.50  2981600       3.02

In [26]:
df.tail(2)

                  Date  Open   High    Low  Close   Volume  Adj Close
Date
1984-09-10  1984-09-10  26.5  26.62  25.87  26.37  2346400       3.01
1984-09-07  1984-09-07  26.5  26.87  26.25  26.50  2981600       3.02

### Info

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6081 entries, 2008-10-14 to 1984-09-07
Data columns (total 7 columns):
Date         6081 non-null object
Open         6081 non-null float64
High         6081 non-null float64
Low          6081 non-null float64
Close        6081 non-null float64
Volume       6081 non-null int64
Adj Close    6081 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 380.1+ KB

In [31]:
import numpy as np
df.iloc[::3,-1]=np.nan# every third row, apply to the last column
df.head()

                  Date    Open    High     Low   Close    Volume  Adj Close
Date
2008-10-14  2008-10-14  116.26  116.40  103.14  104.08  70749800        NaN
2008-10-13  2008-10-13  104.55  110.53  101.02  110.26  54967000     110.26
2008-10-10  2008-10-10   85.70  100.00   85.00   96.80  79260700      96.80
2008-10-09  2008-10-09   93.35   95.80   86.60   88.74  57763700        NaN
2008-10-08  2008-10-08   85.91   96.33   85.68   89.79  78847900      89.79